.fantasmaNaranja01 {
    background-image: url(../../../Images/pacman/fanatasmaNaranja01.png );
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.fantasmaNaranja02 {
    background-image: url(../../../Images/pacman/fanatasmaNaranja02.png);
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.fantasmaRojo01 {
    background-image: url(../../../Images/pacman/fanatasmaRojo01.png);
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.fantasmaRojo02 {
    background-image: url(../../../Images/pacman/fanatasmaRojo02.png);
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.fantasmaAzul01 {
    background-image: url(../../../Images/pacman/fanatasmaAzul01.png);
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.fantasmaAzul02 {
    background-image: url(../../../Images/pacman/fanatasmaAzul02.png);
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.fantasmaRosa01 {
    background-image: url(../../../Images/pacman/fanatasmaRosa01.png);
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.fantasmaRosa02 {
    background-image: url(../../../Images/pacman/fanatasmaRosa02.png);
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

@media (max-width: 720px){
    .fantasmaNaranja01 {
        background-image: url(../../../Images/pacman/fanatasmaNaranja01.png );
        background-position: 50% 50%;
        background-size: 65%;
        background-repeat: no-repeat;
    }
    
    .fantasmaNaranja02 {
        background-image: url(../../../Images/pacman/fanatasmaNaranja02.png);
        background-position: 50% 50%;
        background-size: 65%;
        background-repeat: no-repeat;
    }
    
    .fantasmaRojo01 {
        background-image: url(../../../Images/pacman/fanatasmaRojo01.png);
        background-position: 50% 50%;
        background-size: 65%;
        background-repeat: no-repeat;
    }
    
    .fantasmaRojo02 {
        background-image: url(../../../Images/pacman/fanatasmaRojo02.png);
        background-position: 50% 50%;
        background-size: 65%;
        background-repeat: no-repeat;
    }
    
    .fantasmaAzul01 {
        background-image: url(../../../Images/pacman/fanatasmaAzul01.png);
        background-position: 50% 50%;
        background-size: 65%;
        background-repeat: no-repeat;
    }
    
    .fantasmaAzul02 {
        background-image: url(../../../Images/pacman/fanatasmaAzul02.png);
        background-position: 50% 50%;
        background-size: 65%;
        background-repeat: no-repeat;
    }
    
    .fantasmaRosa01 {
        background-image: url(../../../Images/pacman/fanatasmaRosa01.png);
        background-position: 50% 50%;
        background-size: 65%;
        background-repeat: no-repeat;
    }
    
    .fantasmaRosa02 {
        background-image: url(../../../Images/pacman/fanatasmaRosa02.png);
        background-position: 50% 50%;
        background-size: 65%;
        background-repeat: no-repeat;
    }
}