#tablero_pacman {
    margin-top: 40px;
    display: grid;
    border: 1px solid rgb(57, 42, 199);
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
    margin-left: auto;
    margin-right: auto;
}

.tablero_boxPacman {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

.cuadroPacman {
    width: 25px;
    height: 25px;
    background-color: rgb(75, 138, 189);

}

.cuadrosOut {
    background-color: blue;
    border: 1px solid blue;

}

.comecocos {
    width: 25px;
    height: 25px;
    background-image: url(../../../Images/pacman/PacmanAbierto01Derecha.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.comecocosCerrado {
    width: 25px;
    height: 25px;
    background-image: url(../../../Images/pacman/PacmanCerrado01.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;

}

.punto {
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    background-image: url(../../../Images/pacman/Punto.png );
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: 50% 50%;
    background-color: black;
}

.noPunto {
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    background-color: black;
}

.comecocosDerecha {
    width: 25px;
    height: 25px;
    background-image: url(../../../Images/pacman/PacmanAbierto01Derecha.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;
}

.comecocosIzquierda {
    width: 25px;
    height: 25px;
    background-image: url(../../../Images/pacman/PacmanAbierto01Izquierda.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;

}

.comecocosArriba {
    width: 25px;
    height: 25px;
    background-image: url(../../../Images/pacman/PacmanAbierto01Arriba.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;

}

.comecocosAbajo {
    width: 25px;
    height: 25px;
    background-image: url(../../../Images/pacman/PacmanAbierto01Abajo.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;

}

@media (max-width: 720px) {

    #tablero_pacman {
        margin-top: 40px;
        display: grid;
        border: 1px solid rgb(4, 0, 255);
        grid-template-columns: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .tablero_boxPacman {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cuadroPacman {
        width: 15px;
        height: 15px;
        background-color: rgb(75, 138, 189);

    }

    .cuadrosOut {
        background-color: blue;
        border: 1px solid blue;

    }

    .comecocos {
        width: 15px;
        height: 15px;
        background-image: url(../../../Images/pacman/PacmanAbierto01Derecha.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 65%;
    }

    .comecocosCerrado {
        width: 15px;
        height: 15px;
        background-image: url(../../../Images/pacman/PacmanCerrado01.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: black;
        background-size: 65%;
    }

    .punto {
        min-width: 15px;
        min-height: 15px;
        max-width: 15px;
        max-height: 15px;
        background-image: url(../../../Images/pacman/Punto.png );
        background-repeat: no-repeat;
        /*background-position: 50% 50%;*/
        background-position: center;
        background-color: black;
        background-size: 35%;
    }

    .noPunto {
        min-width: 15px;
        min-height: 15px;
        max-width: 15px;
        max-height: 15px;
        background-color: black;
    }

    .comecocosDerecha {
        width: 15px;
        height: 15px;
        background-image: url(../../../Images/pacman/PacmanAbierto01Derecha.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: black;
        background-size: 65%;
    }

    .comecocosIzquierda {
        width: 15px;
        height: 15px;
        background-image: url(../../../Images/pacman/PacmanAbierto01Izquierda.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: black;
        background-size: 65%;

    }

    .comecocosArriba {
        width: 15px;
        height: 15px;
        background-image: url(../../../Images/pacman/PacmanAbierto01Arriba.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: black;
        background-size: 65%;

    }

    .comecocosAbajo {
        width: 15px;
        height: 15px;
        background-image: url(../../../Images/pacman/PacmanAbierto01Abajo.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: black;
        background-size: 65%;

    }

}

@media (max-width: 450px) {

    #tablero_pacman {
        margin-top: 40px;
        display: grid;
        border: 1px solid rgb(4, 0, 255);
        grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .tablero_boxPacman {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cuadroPacman {
        width: 10px;
        height: 10px;
        background-color: rgb(75, 138, 189);

    }

    .cuadrosOut {
        background-color: blue;
        border: 1px solid blue;

    }

    .comecocos {
        width: 10px;
        height: 10px;
        background-image: url(../../../Images/pacman/PacmanAbierto01Derecha.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 65%;
    }

    .comecocosCerrado {
        width: 10px;
        height: 10px;
        background-image: url(../../../Images/pacman/PacmanCerrado01.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: black;
        background-size: 65%;
    }

    .punto {
        min-width: 10px;
        min-height: 10px;
        max-width: 10px;
        max-height: 10px;
        background-image: url(../../../Images/pacman/Punto.png );
        background-repeat: no-repeat;
        /*background-position: 50% 50%;*/
        background-position: center;
        background-color: black;
        background-size: 35%;
    }

    .noPunto {
        min-width: 10px;
        min-height: 10px;
        max-width: 10px;
        max-height: 10px;
        background-color: black;
    }

    .comecocosDerecha {
        width: 10px;
        height: 10px;
        background-image: url(../../../Images/pacman/PacmanAbierto01Derecha.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: black;
        background-size: 65%;
    }

    .comecocosIzquierda {
        width: 10px;
        height: 10px;
        background-image: url(../../../Images/pacman/PacmanAbierto01Izquierda.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: black;
        background-size: 65%;

    }

    .comecocosArriba {
        width: 10px;
        height: 10px;
        background-image: url(../../../Images/pacman/PacmanAbierto01Arriba.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: black;
        background-size: 65%;

    }

    .comecocosAbajo {
        width: 10px;
        height: 10px;
        background-image: url(../../../Images/pacman/PacmanAbierto01Abajo.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: black;
        background-size: 65%;

    }

}
