.box-title{
    width: 50%;
    border-bottom: 1px solid rgb(104, 104, 104);
}

.title{
    color: rgb(163, 25, 91);
    font-size: 2.5rem;
    flex: 100%;
    height: 20%;
    text-align: center;
}

.box-title-section{
    width: 85%;
    height: 20%;
}

.title-section{
    color: rgb(163, 25, 91);
    border-bottom: 1px solid rgb(104, 104, 104);
    font-size: 2rem;
}

.box-introduction{
    width: 70%;
    text-align: center;
    color: rgb(104, 104, 104);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.left{
    text-align: left;
}

.text-center{
    text-align: center;
}


.game-instructions {
    width: 90%;
    color: rgb(104, 104, 104);
    text-align: center;
    font-size: 1.5em;

}

@media (max-width: 600px) {
    
    .game-instructions {
        
        font-size: 1em;

    }
}




.box-mesage{

}


.box-rules {
    color: rgb(255, 255, 255);
    width: 90%;
    height: 50px;
    font-size: 1em;
    text-align: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}


/*Mensaje*/

.box-alert {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: auto;
    border: 1px solid rgb(124, 124, 124);
    background-color: rgb(248, 72, 72);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
}

.btnCerrar {
    height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: brown;
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

.box-win {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: auto;
    border: 1px solid rgb(124, 124, 124);
    background-color: rgb(25, 134, 80);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
}

.btnWin{
    height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(10, 90, 3);
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

.box-hide{
    display: none;
}
@media screen and (max-width: 600px){
  
}

.main-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}


.no-styles{
    text-decoration: none;
    background-color: none;
    color: none;
    border: none;
}